# metadata included in source distribution only
include LICENSE
include README.rst
include requirements*.txt

# package data included in source distribution and installation
include neurotic/global_config_template.txt
include neurotic/example/example-notebook.ipynb
include neurotic/example/metadata.yml
include neurotic/tests/metadata-for-tests.yml
