# metadata included in source distribution only
include LICENSE
include README.rst
include requirements*.txt
include environment.yml

# package data included in source distribution and installation
include neurotic/example/metadata.yml
include neurotic/tests/metadata-for-tests.yml
