# av  # required but typically not installable via pip, try `conda install -c conda-forge av`
ephyviewer>=1.2.1
neo>=0.7.2
numpy
packaging
pandas
pyqt5
pyyaml
quantities
requests
scipy
setuptools
tqdm
